<div class="tile">
      <div class="tile-header">
          <span class="label1">{{heading}}</span>
          <i class="{{iconClass}}" data-toggle="tooltip" data-placement="top" title="{{tooltipTitle}}"></i>
      </div>
      <a href="{{href}}" class="label0">{{subHeading}}</a>
      <p>{{message}}&nbsp;{{#if linktext}}<a href="{{linkhref}}" class="tilelink">{{linktext}}</a>{{/if}}</p>
</div>